[config_service]
configName = konconfigapi/config.json

[headers]
#Content-Type = application/json
Accept = application/json
x-api-key = apikey

[version_major]
key = testkey
action = major
tag = tooling

[version_minor]
key = keytest
action = minor
tag = tooling

[path]
resultdir = result

[config_service_url]
config_url = https://config-api.in.ft.com/v1?configName=%s

[version_url]
ver_url = https://version-api.in.ft.com/v2/version

[dns_url]
zones = https://dns-api.in.ft.com/v2/zone
create = https://dns-api.in.ft.com/v2
zone_name = https://dns-api.in.ft.com/v2/name
dns_put = https://dns-api.in.ft.com/v2


[dns_a]
zone = alan-api.ft.com
name = qatooling
rdata = 123.123.123.123
ttl = 1440

[dns_cname]
zone = alan-api.ft.com
name = toolingdns
rdata = enviroments.com
ttl = 1440

[dns_update]
zone = alan-api.ft.com
name = toolingdns
oldRdata = enviroments.com
newRdata = technology.com
ttl = 1440

[bitbucket]
projectId = LAM
repoId = lambdatest

[cr_section]
releaselog_url = https://cr-api.in.ft.com/v2/releaselog
normal_cr_url = https://cr-api.in.ft.com/v2/normal
cr_list_url = https://cr-api.in.ft.com/v2/list/%s/%s
fyi_cr_url = https://cr-api.in.ft.com/v2/fyi
emergency_url = https://cr-api.in.ft.com/v2/emergency

[release_log_data]
ownerEmailAddress = yusuf.ogunjimi@ft.com
summaryOfChange = release log test [ 9MlEqzvM5Zzk4D1jDJYK ]
changeDescription = change description
environment = Test
serviceIds = koncrapi
notify = true
notifyChannel = #qa-tooling-crtest
performTestRun = true

[normal_cr_data]
ownerEmailAddress = yusuf.ogunjimi@ft.com
summaryOfChange = normal change request test [ 9MlEqzvM5Zzk4D1jDJYK ]
changeDescription = normal change
reasonForChangeDetails = test
scheduledStartDate = 2016-06-15 11:20
scheduledEndDate = 2016-06-15 11:25
changeCategory = Major
riskProfile = High
environment = Test
howHasChangeBeenTested = Test thoroughly
previouslyConducted = No
repeatableProcess = Yes
willThereBeAnOutage = No
rolloutPlan = rollback
backoutPlan = backout
resourceOne = yusuf.ogunjimi@ft.com
peerReviewer = alan.turner@ft.com
serviceIds = koncrapi
notify = true
notifyChannel = #qa-tooling-crtest
performTestRun = true

[fyi_data]
ownerEmailAddress = yusuf.ogunjimi@ft.com
summaryOfChange = For Your Information [ 9MlEqzvM5Zzk4D1jDJYK ]
changeDescription = Informational
reasonForChangeDetails = test
scheduledStartDate = 2016-06-23 13:10
scheduledEndDate  = 2016-06-23 13:20
changeCategory = Major
riskProfile = High
environment = Test
willThereBeAnOutage = No
resourceOne = yusuf.ogunjimi@ft.com
serviceIds = koncrapi
notify = true
notifyChannel = #qa-tooling-crtest
performTestRun = true 

[emergency_data]
ownerEmailAddress = yusuf.ogunjimi@ft.com
summaryOfChange = Emergency Change Request
changeDescription = Emergency
reasonForChangeDetails = test
environment = Test
changeCategory = Major
howHasChangeBeenTested = Tested by team members
wasThereAnOutage = No
whichServicesWereEffected = Swagger, Lambda
rolloutPlan = rollout plan
backoutPlan = backout plan
resourceOne = yusuf.ogunjimi@ft.com
managerNotified = yusuf.ogunjimi@ft.com
actualStartDate = 2016-06-23 13:10
actualEndDate =   2016-06-23 13:15
serviceIds = koncrapi
notify = true
notifyChannel = #qa-tooling-crtest
performTestRun = true
